/* general rules */
body, html{height: 100%;}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 100%;
  background: url("/img/background.jpg");
  background-attachment: fixed;

}
#header {
  height: 100%;

}
#wrapper {
  height: 100%;
  background: url("/img/alcohol-alcoholic-background-301692.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1em solid red;
}
